In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.22.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time 
import pandas as pd
import warnings
warnings.filterwarnings ('ignore')

In [6]:
driver = webdriver.Chrome()
driver.get("https://www.naukri.com/")

In [7]:
disignation= driver.find_element(By.CLASS_NAME,"suggestor-input ")
disignation.send_keys("Data science")

In [8]:
#  2nd method
# disignation= driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
# disignation.send_keys("Data science")

In [9]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("bangalore")

In [10]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [12]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [13]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags: 
    title= i.text
    job_title.append(title)

In [14]:
job_title

['Data Science Analytics Senior Analyst',
 'Data Science Analytics Senior Analyst',
 'Data Science Analytics Sr Analyst',
 'Data Science Analyst (Senior)',
 'Data Science FCC Analytics-Associate/Senior Associate/Manager',
 'Data Science Manager',
 'Analytics Data science and IOT Engineer',
 'S&C Global Network - AI - CG&S - Consultant Data Science',
 'S&C Global Network - AI - CG&S - Consultant Data Science',
 'Data Science/Gen AI - Lead (AI and ML and Open AI and MS Azure)',
 'Senior Manager, Data Science',
 'Manager - Data Science (GenAI) / TMT Vertical',
 'Manager - Data Science (Classical ML)',
 'Manager - Data Science (Classical ML) / Travel & Hospitality',
 'Data Science Engineer- GEN AI is required-PERM ROLE',
 'S&C Global Network - AI - Resources - Manager Data Science',
 'Data Science Consultant',
 'Data Science Manager',
 'Manager - Data Science']

In [29]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location= i.text
    job_location.append(location)

In [30]:
company_tags = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [31]:
experience_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    experience= i.text
    experience_required.append(experience)

In [35]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [36]:
df=pd.DataFrame({
    'title':job_title,
    'location':job_location,
    'company_name':company_name,
    'experience':experience_required
    
})

In [42]:
job_titles.append('')
experience_requireds.append('')

In [43]:
df=pd.DataFrame({
    'title':job_titles,
    'location':job_locations,
    'company_name':company_names,
    'experience':experience_requireds
    
})

In [44]:
df

,title,location,company_name,experience
0,Data Scientist,Bengaluru,Bharatx,5-10 Yrs
1,Data Scientist III,"Noida, Bengaluru",Ericsson,5-9 Yrs
2,Life science-Data Scientist,Bengaluru,Walmart,3-8 Yrs
3,Senior Data Analyst (L5),Hybrid - Bengaluru,Recruise India Consulting,7-9 Yrs
4,Data Scientist - Digital Health,Bengaluru,Global Pharma Tek,2-7 Yrs
...,...,...,...,...
95,Data Science with Python,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics,5-12 Yrs
96,Data Science,Bengaluru,Coders Brain Pvt Ltd,3-5 Yrs
97,Data Science + Strong NLP + Cloud,Bengaluru,Techvaraha Solutions,2-6 Yrs
98,Brand Partner Specialist - Data & AI,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics,4-7 Yrs
99,,Bengaluru,IBM,